* {
  font-family: "Euclid Circular A", sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 125%;
}

li {
  font-size: 20px;
  line-height: 140%;
}

h2 {
  font-size: 32px;
  line-height: 125%;
}

.nav-font-size {
  font-size: 16px;
  line-height: 20px;
}
.logo {
  width: 103px;
  height: 38px;
}

.header-height {
  height: 90px;
}

.logo-div {
  height: 90px;
  width: 220px;
}
.header-first-div {
  width: 740px;
}

.header-space {
  width: 136px;
}

.text-container {
  width: 610px;
}

.img-container {
  width: 740px;
}

.img-container2 {
  width: 480px;
}

.start-now-btn {
  width: 380px;
}

.h1-fourth-container {
  width: 1000px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}
